body{
    font-family: 'Poppins', sans-serif;
}
.top-comment{
    border-left: solid pink ;
    font-size: 25px;
    border-width: 5px;
    border-radius: 5px;
    line-height: 50px;
}
.flexible-container{
    display: flex;
    margin-top: 25px;
    margin-bottom: 50px;
}
.half-width{
    width: 75%;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
}
.half-width-image img{
    width: 75%;
}
.big-text{
    text-align: center;
    font-size: 50px;
}
section{
    margin-bottom: 150px;
}
#top-para{
    border-top: pink solid;
    border-left: pink solid;
    border-width: 3px;
    padding-left: 3px;
}
.button{
    background-color: skyblue;
    border-radius: 5px;
    padding: 3px 3px;
    color: black;
    font-weight: 700;
    text-decoration: none;
    margin-left: 3px;
}
.skyblue{
    color: skyblue;
}
.three-cards-part{
    width: 25%;
    margin: 25px;
    padding: 25px;
    border-radius: 50px;
}
.three-cards-part img{
    width: 30%;
}
.left-card{
    background-color: aqua;
    margin-left: 50px;
}
.middle-card{
    background-color: blueviolet;
}
.right-card{
    background-color: cornflowerblue;
}
.third-section{
    width: 50%;
    margin-left: 10px;
    margin-right: 100px;
}
.third-section-background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position-x: left;
    background-position-y: 50px;
}
.third-section img{
    width: 75%;
    margin-left: 150px;
}
.fourth-section{
    width: 50%;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.fourth-section img{
    width: 65%;
}
.fourth-section-background{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position-x: 1075px;
    background-position-y: 300px;
}
.last-section{
    width: 50%;
    margin-right: 100px;
}
.last-section img{
    width: 75%;
    margin-left: 100px;
}
footer{
    font-style: italic;
    text-align: center;
    margin-bottom: 0px;
}